.card{
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.25);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem;
  border-radius: 0.8rem;
  text-align: center;
}

.card button{
  background-color: #EC4B4B;
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 700;
}