.card{
  background: #fff;
  margin: 0.625rem;
  padding: 1rem;
  width: 17.5rem;
  border-radius: 16px;
  flex: none;

  border-radius: 1rem;
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.25);
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info{
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info span{
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.nome{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color:#00a8fb;
}

.score{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color:#00a8fb;
}

.button{
  font-size: 1.2rem;
  font-weight: bold;

  background-color: #4CED7A;
  color: #f8f7f7;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 700;

  transition: 0.5s;
}

.button:hover{
  background-color: #3ab45d;
}