.card{
  background-color: #e7e7e7;
  width: 18rem;
  height: 100%;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  border-radius: 0.8rem;
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.25);

}

.card img{
  width: 50%;
  object-fit: cover;
}

.card button{
  background-color: #4CED7A;
  color: #f8f7f7;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 700;

  transition: 0.5s;
}

.card button:hover{
  background-color: #3ab45d;
}