.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  gap: 1rem;
}

.carousel{
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}

.card{
  background: #fff;
  margin: 10px;
  padding: 10px;
  width: 280px;
  border-radius: 16px;
  flex: none;

  border-radius: 1rem;
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.25);

}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info{
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info span{
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.nome{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color:#00a8fb;
}

.button{
  font-size: 1.2rem;
  font-weight: bold;

  background-color: #4CED7A;
  color: #f8f7f7;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 700;

  transition: 0.5s;
}

.button:hover{
  background-color: #3ab45d;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}