.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.carousel{
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}