.listBox{
  margin: 2rem 0rem  0rem 42.6rem ;
  text-align: center;
}

.button{
  width: 10rem;
  background-color: #fff;
  border: none;
  border-radius:  0.5rem 0.5rem 0rem 0rem;
  padding: 0.2rem 2rem; 
}

.options{
  width: 10rem;
  background-color: #fff;
  list-style: none;
  border-radius:0rem 0rem 0.5rem 0.5rem  ;
}