.container{
  height: 100%;
  min-height: 100vh;
  background:#080808;
  margin: 2rem 0rem;
}

.shop{
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 900px;
  width: 90%;
  list-style: none;
}