.shop{
  padding: 2rem 0rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background:#080808;
}

.shop ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 900px;
  width: 90%;
  list-style: none;
}